@import url("styles.css");
/* Media Queries */
/* Extra Small */
@media (max-width: 575px) {
}

/* Small */
@media (min-width: 575px) {
}

/* Medium */
@media (min-width: 768px) {
}

/* Large */
@media (min-width: 992px) {
}

/* Extra Large */
@media (min-width: 1200px) {
}

/* Extra Extra Large */
@media (min-width: 1400px) {
}
