@import url("styles.css");
/* Media Queries */
/* Special Size */
@media (min-width: 250px) and (max-width: 400px) {
  .navbar-text h1{
    font-size: 18px;
  }
  .navbar-icon{
    width: 36px;
    height: 36px;
  }
  #addBtn{
    font-size: 12px;
  }
  .col-6{
    width: 100%;
  }
  .stats-item{
    padding: 8px 12px;
    width: 100%;
  }
  .stats-icon{
    width: 45px;
    height: 45px;
  }
  .stats-item-text h2{
    font-size: 14px;
  }
  .stats-item-text p{
    font-size: 16px;
  }
  .all-contacts{
    line-height: 0;
  }
  .all-contacts h2{
    font-size: 18px;
    line-height: 15px;
    margin-bottom: 15px;
  }
  .all-contacts p{
    font-size: 12px;
    margin-bottom: 20px;
  }
  #searchInput{
    padding: 10px 0px 10px 43px;
  }
}
/* Extra Small */
@media (max-width: 575px) {
  .favorites-card,
  .emergency-card {
    width: 100%;
  }
  .favorites-card {
    margin-top: 20px;
  }
  .emergency-card {
    margin-bottom: 30px;
  }
  .custom-modal-footer {
    flex-direction: column;
  }
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* Small */
@media (min-width: 575px) {
  .favorites-card,
  .emergency-card {
    width: 100%;
  }
  .favorites-card {
    margin-top: 30px;
  }
  .emergency-card {
    margin-bottom: 30px;
  }
  .custom-modal-footer {
    flex-direction: row;
  }
  .card-footer-custom {
    .icon-btn {
      width: 26px;
      height: 26px;
    }

    .icon-btn i {
      font-size: 12px;
    }
  }
}

/* Medium */
@media (min-width: 768px) {
  .card-footer-custom {
    .icon-btn {
      width: 36px;
      height: 36px;
    }

    .icon-btn i {
      font-size: 14px;
    }
  }
}

/* Large */
@media (min-width: 992px) {
}

/* Extra Large */
@media (min-width: 1200px) {
  .favorites-card,
  .emergency-card {
    width: 93%;
    margin-left: auto;
  }
  .favorites-card {
    margin-top: 0;
  }
}

/* Extra Extra Large */
@media (min-width: 1400px) {
}
